[submodule "home/.tmux/plugins/tmux-sensible"]
	path = home/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "home/.tmux/plugins/tmux-yank"]
	path = home/.tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "home/.tmux/plugins/tmux-cpu"]
	path = home/.tmux/plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu
