[submodule "home/.config/awesome/pomodoro"]
	path = home/.config/awesome/pomodoro
	url = git://github.com/nikolavp/awesome-pomodoro.git
[submodule "home/.tmux/plugins/tmux-sensible"]
	path = home/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "home/.tmux/plugins/tmux-yank"]
	path = home/.tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "home/.config/awesome/net_widgets"]
	path = home/.config/awesome/net_widgets
	url = https://github.com/last5bits/net_widgets.git
