[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "home/.vim/bundle/vim-pathogen"]
	path = home/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "home/.vim/bundle/vim-airline"]
	path = home/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "home/.vim/bundle/cool.vim"]
	path = home/.vim/bundle/cool.vim
	url = https://github.com/vim-scripts/cool.vim
[submodule "home/.vim/bundle/delimitMate"]
	path = home/.vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "home/.vim/bundle/vim-latex-live-preview"]
	path = home/.vim/bundle/vim-latex-live-preview
	url = https://github.com/xuhdev/vim-latex-live-preview.git
[submodule "home/.vim/bundle/vim-sensible"]
	path = home/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "home/.vim/bundle/vim-bracketed-paste"]
	path = home/.vim/bundle/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/asyncrun.vim"]
	path = home/.vim/bundle/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "home/.vim/bundle/vim-grepper"]
	path = home/.vim/bundle/vim-grepper
	url = https://github.com/mhinz/vim-grepper.git
[submodule "home/.vim/bundle/vim-unimpaired"]
	path = home/.vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "home/.vim/bundle/python-mode"]
	path = home/.vim/bundle/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "home/.vim/bundle/vimtex"]
	path = home/.vim/bundle/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "home/.vim/bundle/ultisnips"]
	path = home/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "home/.vim/bundle/vim-snippets"]
	path = home/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "home/.vim/bundle/vim-gutentags"]
	path = home/.vim/bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "home/.vim/bundle/vim-fswitch"]
	path = home/.vim/bundle/vim-fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "home/.vim/bundle/tagbar"]
	path = home/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
