alias t="touch"
alias jc="journalctl -e -o short-full"
alias sc="systemctl"
alias scu="systemctl --user"
alias ppc="powerprofilesctl"
alias rdate="TZ=\"Europe/Moscow\" date"
alias hcd="homeshick cd"
alias G="git"
alias l="less"
alias vim="nvim"

tmux() { command tmux ls &>/dev/null && command tmux a || command tmux; }

# vim: set filetype=sh:
