alias t="touch"
alias jc="journalctl -e -o short-full"
alias sc="systemctl"
alias scu="systemctl --user"
alias ppc="powerprofilesctl"
alias rdate="TZ=\"Europe/Moscow\" date"
alias hcd="homeshick cd"
alias G="git"
alias l="less"
alias vim="nvim"
alias df="df -h"
alias gdb="gdb -silent"
alias ls="ls -h --color --group-directories-first"

tmux() { command tmux a || command tmux; }

# vim: set filetype=sh:
