[include]
    path = .gitconfig-local
[core]
    excludesfile = ~/.gitignore
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset - %Cgreen(%ad)%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit --date=local
    logn = log -n100
    shshow = show --pretty="" --name-only
[pull]
    rebase = true
[rebase]
    autoStash = true
[commit]
    verbose = true
[mergetool]
    prompt = false
[merge]
    tool = vimdiff
[status]
    submoduleSummary = true
[diff]
    submodule = log
[stash]
    showPatch = true
