[include]
    path = .gitconfig-local
[core]
	excludesfile = ~/.gitignore
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset - %Cgreen(%ad)%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit --date=local
    supdate = submodule foreach git pull origin master
	last = log -1 HEAD
	dlast = diff HEAD~1 HEAD
    yr = yank --remote
    yb = yank --branch
[pull]
	rebase = true
[commit]
	verbose = true
