snippet ns "namespace .. (namespace)"
namespace${1/.+/ /m}${1:`!p snip.rv = snip.basename or "name"`}
{
	${VISUAL}$0
}${1/.+/ \/\/ namespace /m}$1${1/.+//m}

endsnippet
snippet dbgs "llvm-dbgs" b
LLVM_DEBUG(dbgs() << "$0\n");
endsnippet

snippet errs "llvm-errs" b
llvm::errs() << "$0\n";
endsnippet
